html, body {
    background-image: url("../1579552126_3-p-foni-dlya-menyu-9.jpg");
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
}

label, input, select {
    color: black;
    list-style-type: none;
    padding: 10px;
    margin: 10px 0;
    width: 150px;
}
form {
    margin-top: 5%;
}
input[type=submit] {
    background: none;
    border: none;
    text-align: center;
    font-family: "Quicksand";
}
.content {
    text-align: center;
    font-family: "Quicksand";
    padding-top: 1%;
    height: 100%;
    position: absolute;
}

a {
    text-decoration: none;
    position: relative;
    color: black;
}
.from-center:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-center:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
}

.from-center:hover:before {
    left: 0;
    width: 100%;
}

.from-center:hover:after {
    top: 0;
    height: 100%;
}
h4, h2 {
    color: #004352;
    font-family: "Quicksand";
}
.whiteBack {
    border-radius: 10px;
    background-color: white;
    width: 750px;
    height: 40%;
    position:absolute;
    left: 600px;
    opacity: 0.7;
}
#personal {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    right: 2%;
}
/* start code for the actual button: */




/*
Spot is the span on the inside of the href that
fills the parent and makes the hover and link work
for the entire div
*/



.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*
This is the outer svg wrapper that the SVG itself will
fill. Multiple svg-wrapper classes can be put side by side.
*/



.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    /*make sure to use same height/width as in the html*/
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
}
/*
This is where we define the fill, color, thickness,
and stroke pattern of the SVG when there is no hover.
The dasharray and offset together define the line position
under the words. Here's also where the transition speed is set.
*/



#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}
/*
Pushing the text up into the SVG. Without this the
text would be below the div's.
*/



#text {
    margin-top: -52px;
    text-align: center;
}



    #text a {
        color: white;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.1em;
    }
/*
Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/



.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
}
@media (max-width: 480px) {

    html, body {
        background-image: url("../1579552126_3-p-foni-dlya-menyu-9.jpg");
        background-attachment: fixed, scroll;
        background-repeat: no-repeat, repeat-y;
    }
    li {
        color: black;
        list-style-type: none;
    }

    .content {
    text-align: center;
    font-family: "Quicksand";
    padding-top: 1%;
    height: 100%;
    position: absolute;
    }

    a {
        text-decoration: none;
        position: relative;
        color: black;
    }

    .from-center:before {
        top: 0;
        left: 50%;
        height: 100%;
        width: 0;
        border: 1px solid var(--inv);
        border-left: 0;
        border-right: 0;
    }

    .from-center:after {
        bottom: 0;
        left: 0;
        height: 0;
        width: 100%;
        background: var(--inv);
    }

    .from-center:hover:before {
        left: 0;
        width: 100%;
    }

    .from-center:hover:after {
        top: 0;
        height: 100%;
    }

    h4, h2 {
        color: #2150FD;
        font-family: "Quicksand";
    }

    .whiteBack {
        border-radius: 10px;
        background-color: white;
        width: 350px;
        height: 100%;
        position: absolute;
        left: 10px;
        opacity: 0.7;


    }
    #personal {
        color: white;
        text-decoration: none;
        position: absolute;
        bottom: 15px;
        right: 2%;
    }
    /* start code for the actual button: */




    /*
Spot is the span on the inside of the href that
fills the parent and makes the hover and link work
for the entire div
*/



    .spot {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    /*
This is the outer svg wrapper that the SVG itself will
fill. Multiple svg-wrapper classes can be put side by side.
*/



    .svg-wrapper {
        margin-top: 0;
        position: relative;
        width: 150px;
        /*make sure to use same height/width as in the html*/
        height: 40px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 5px
    }
    /*
This is where we define the fill, color, thickness,
and stroke pattern of the SVG when there is no hover.
The dasharray and offset together define the line position
under the words. Here's also where the transition speed is set.
*/



    #shape {
        stroke-width: 6px;
        fill: transparent;
        stroke: #009FFD;
        stroke-dasharray: 85 400;
        stroke-dashoffset: -220;
        transition: 1s all ease;
    }
    /*
Pushing the text up into the SVG. Without this the
text would be below the div's.
*/



    #text {
        margin-top: -35px;
        text-align: center;
    }



        #text a {
            color: white;
            text-decoration: none;
            font-weight: 100;
            font-size: 1.1em;
        }
    /*
Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/



    .svg-wrapper:hover #shape {
        stroke-dasharray: 50 0;
        stroke-width: 3px;
        stroke-dashoffset: 0;
        stroke: #06D6A0;
    }
}

@font-face {
    font-family: "Quicksand";
    src: url("~/fonts/Quicksand-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}