@model PizzaCommandProj.Models.Order

@{
    ViewData["Title"] = "Confirm Order";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="~/css/BuyPage.css">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="content">
        <div class="whiteBack">
            <h2>Confirm Order</h2>

            <h4>
                @ViewBag.DishName @ViewBag.DishAmount.ToString()$
            </h4>
            <hr>
            <form asp-action="NewOrder">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adress" class="control-label"></label>
                    <input asp-for="Adress" class="form-control" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Payment" class="control-label"></label>
                    <select asp-for="Payment" class="form-control">
                        <option value="Card" selected>Card</option>
                        <option value="Cash">Cash</option>
                    </select>
                    @*<input asp-for="Payment" class="form-control" />*@
                    @*<span asp-validation-for="Payment" class="text-danger"></span>*@
                </div>
                <div class="svg-wrapper">
                    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                        <rect id="shape" height="40" width="150" />
                        <div id="text">
                            <a href=""> <span class="spot"></span><input type="submit" value="Buy" class="btn from-center" /></a>
                        </div>
                    </svg>
                </div>
                <div class="form-group" style="visibility: hidden;">
                    <label asp-for="DishId" class="control-label"></label>
                    <input asp-for="DishId" class="form-control" value="ViewBag.DishId" />
                    <span asp-validation-for="DishId" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<div>
    <a asp-action="Menu">Back to Menu</a>
</div>
