@model PizzaCommandProj.Models.Order

@{
    ViewData["Title"] = "Order Confirmed Successfully";
}


<h4>
    Order Confirmed Successfully!
</h4>
<hr />
<div>
    <a asp-action="Menu">Back to Menu</a>
</div>
